<h1 class="past-journals-title">Past Journal Entries</h1>
<div class="journals-index-container">
  <div class="journals-index">
    <div class="journals-outer-list">
      <% @journal_entries.each do |journal| %>
        <div class="row">
          <ul class="journal-entry-item">
            <div class="large-8 columns journal-entry-div">
              <p><%= journal[0].created_at.strftime('%a, %m/%d/%Y') %></p>
              <p><%= journal[0].journal_entry %></p>
            </div>
          </div>
      <% end %>
      </ul>
    </div>
  </div>
</div>
