<div class="journal-index-container">
  <div class="journal-index">
    <ul class="journal-list">
      <% @journals.each do |journal_entry| %>
        <%= journal_entry.created_at.strftime('%a %d %b %Y') %><br />
        <%= journal_entry.journal_entry %>
      <% end %>
    </ul>
  </div>
</div>
