.entry-container-list {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  flex-direction: column;
  padding: 3%;
}

.goals-entries-index {
  padding: 2%;
}

.journals-entries-index {
  padding: 2%;
}

.link-to-entry {
  color: blue;
}

.link-to-entry a:hover {
  color: blue;
}

.past-entries {
  padding-left: 10%;
}

.past-entries-explanation {
  padding-left: 10%;
}
