@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
// #FDF9CC
header {
  color: white;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}
header > h1 {
  display: inline-block;
}
header span {
  margin-right: 2rem;
}

.selected {
  background-color: #52A3F8
}

nav {
  background-color: #4D5176;
  margin: 0rem;
  padding: 0rem;
}

.side-buttons {
  margin-right: 3rem;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1.thriver {
  text-shadow: 4px 4px 7px #AC296B;
}


#background-image {
  background-image: url('http://wallpaperpixel.com/download/sunrise-over-mountains-1680x1260.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Roboto', sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.google-chart {

}

.user-emotions-data {
  background-color: white;
}
