@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

header {
  color: white;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

header > h1 {
  display: inline-block;
  color: white;
}

header.row a {
  color: white;
  opacity: 0.8;
  filter: alpha(opacity=70);
}

.selected {
  background-color: #52A3F8
}

span.subheader {
  color: #AC296B;
}

nav {
  background-color: #4D5176;
  margin: 0rem;
  opacity: 0.8;
  filter: alpha(opacity=70);
}

ul.right {
  color: white;
}

.articles-and-resources-link-nav a:hover {
  color: white
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1.thriver {
  text-shadow: 4px 4px 7px #AC296B;
}

#background-image {
  background-image: url('http://wallpaperpixel.com/download/sunrise-over-mountains-1680x1260.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Roboto', sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.google-chart {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.user-emotions-data {
  background-color: white;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.article-link {
  padding-bottom: 5%;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 3%;
  border-radius: 20px;
}

.article-link a {
  text-decoration-line: underline;
  color: black;
}

div.article-link {
  margin: 1%;
}

.article-link a:hover {
  color: blue;
}

#submit-entry-button {
  background-color: #CB752C;
  opacity: 1.0;
  filter: alpha(opacity=100);
  border: 2px solid #CB752C;
}

.latest-entry {
  padding: 5%;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 20px;
  width: 400px;
}

.latest-entry-description {
  color: black;
  text-decoration: underline;
}

.latest-journal-entry {
  color: black;
}

.latest-goals-entry {
  color: black;
}

.dashes {
  color: black;
}

.graph {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
}

rect {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.recent-articles-title {
  padding-top: 3%;
  padding-left: 3%;
}

.latest-entry-title {
  padding-top: 3%;
  padding-left: 3%;
}

.sign-up {
  padding-right: 5%;
}
