#journal {
  height: 20rem;
}

.journal-entry-page {
  display: flex;
}

.journal-prompt {
  display: flex;
  border: 2px solid black;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 20px;
  text-align: center;
  padding: 3%;
}
