.journal-index-container {
  display: flex;
  justify-content: center;
}

.journal-index {
  display: flex;
  margin: 2%;
  width: 40%;
  border: 2px solid black;
  border-width: medium;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5%;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.journal-list {
  display: flex;
  border-color: #4D5176;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
