#article-link {
  color: black;
  margin-bottom: 2%;
  margin-left: 10%;
}

#article-link a:hover {
  color: blue;
}

.hotlines-and-links {
  margin-left: 10%;
}

.suicide-prevention {
  margin-left: 10%;
}
