.tab-title {
  opacity: 0.8;
  filter: alpha(opacity=80);
  border: 2px solid #4D5176;
}

#submit-button-entry {
  background-color: #CB752C;
  opacity: 1.0;
  filter: alpha(opacity=100);
  border: 2px solid #CB752C;
}

#hidden {
  display: none;
}
